<div class="container py-3">
  <div class="row py-3">
    <div class="col-md-2 offset-md-2">
      <h2>ログイン</h2>
    </div>
    <div class="col-md-6 offset-md-1 p-3">
      新規登録がお済みでない方は
      <%= link_to "こちら", new_user_registration_path %>から
    </div>
  </div>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row justify-content-center">
    
      <table cellpadding="7">
        <tr>
          <th><%= f.label :メールアドレス %></th>
          <th><%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"50" %></th>
        </tr>
        <tr>
          <th><%= f.label :パスワード %></th>
          <th><%= f.password_field :password, autocomplete: "current-password", :size=>"50" %></th>
        </tr>
      </table>
    
  </div>
  <div class="row justify-content-center py-5">
    
      <%= f.submit "ログイン" %>
    
  </div>
  <% end %>
</div>